<!doctype html>

<!-- example taken from here: https://jqueryui.com/slider/#multiple-vertical -->

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>jQuery UI Slider - Multiple sliders</title>
<!--   <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"> -->
  <link rel="stylesheet" href="/static/jquery-ui.css">
<!--  <script src="https://jqueryui.com/slider/../../external/jquery/jquery.js"></script>
  <script src="https://jqueryui.com/slider/../../ui/core.js"></script>
  <script src="https://jqueryui.com/slider/../../ui/widget.js"></script>
  <script src="https://jqueryui.com/slider/../../ui/mouse.js"></script>
  <script src="https://jqueryui.com/slider/../../ui/slider.js"></script> -->
<!--  <script src="/static/jquery.js"></script>
  <script src="/static/core.js"></script>
  <script src="/static/widget.js"></script>
  <script src="/static/mouse.js"></script>
  <script src="/static/slider.js"></script> -->
<!--   <link rel="stylesheet" href="https://jqueryui.com/resources/demos/style.css"> -->
  <link rel="stylesheet" href="/static/style.css">
  <style>
  #gain > span {
    height:120px; float: left; margin:15px
  }
  #freq > span {
    height:120px; float: left; margin:15px
  }
  #bandwidth > span {
    height:120px; float: left; margin:15px
  }
  </style>
<!--   <script src="https://code.jquery.com/jquery-1.12.4.js"></script> -->
  <script src="/static/jquery-1.12.4.js"></script>
<!--   <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> -->
  <script src="/static/jquery-ui.js"></script>
<!--   <script src="/static/math.min.js"></script> -->
  
  
  <script>
  
        var midi_update_delay = 150;
        var graph_update_delay = 50;
        var freq_slider_steps = 300;
  
  
        function f_of_x(x){
           return Math.exp(Math.log(20)+x*(Math.log(20000)-Math.log(20)));
        }
        function x_of_f(f){
           return (Math.log(f) - Math.log(20))/(Math.log(20000)-Math.log(20))
        }
        
        
        var eq_offset = 0;
        var y_scaling = 0.05;
        var x_scaling = 0.1;
//         function fun1(x) {  return math.evaluate("re(exp(2*"+x+"*(i-0.2)))");  }
        function fun2(x) {return Math.cos(3*x);}
        function eq_response(x) { 
              return full_filter_response(f_of_x(x*x_scaling)) * y_scaling;
        } 
        function eq_response_legacy(x) { 
              return full_filter_response_legacy(f_of_x(x*x_scaling)) * y_scaling+0.1;
        } 
        
        function draw() {
         var canvas = document.getElementById("canvas");
         if (null==canvas || !canvas.getContext) return;
        
         var axes={}, ctx=canvas.getContext("2d");
         
//          clear canvas
         ctx.clearRect(0, 0, canvas.width, canvas.height);
//          axes.x0 = .5 + .5*canvas.width;  // x0 pixels from left to x=0
         axes.x0 = 0;// + .05*canvas.width;  // x0 pixels from left to x=0
         axes.x1 = 0 + 1*canvas.width;  
         axes.y0 = .5 + .5*canvas.height; // y0 pixels from top to y=0
         axes.scale = canvas.width*1/10;                 // 10 from 20 to 20k Hz
//          axes.doNegativeX = true;
         axes.doNegativeX = false;
        
         showAxes(ctx,axes);
//          funGraph(ctx,axes,fun1,"rgb(11,153,11)",1); 
         funGraph(ctx,axes,function(){return 8*1*y_scaling;},"rgb(128,128,128)",1);
         funGraph(ctx,axes,function(){return 8*2*y_scaling;},"rgb(128,128,128)",1);
         funGraph(ctx,axes,function(){return 8*3*y_scaling;},"rgb(128,128,128)",1);
         funGraph(ctx,axes,function(){return 8*4*y_scaling;},"rgb(128,128,128)",1);
         funGraph(ctx,axes,function(){return 8*-1*y_scaling;},"rgb(128,128,128)",1);
         funGraph(ctx,axes,function(){return 8*-2*y_scaling;},"rgb(128,128,128)",1);
         funGraph(ctx,axes,function(){return 8*-3*y_scaling;},"rgb(128,128,128)",1);
         funGraph(ctx,axes,function(){return 8*-4*y_scaling;},"rgb(128,128,128)",1);
//          funGraph(ctx,axes,fun2,"rgb(66,44,255)",2);
//          funGraph(ctx,axes,eq_response,"rgb(200,0,0)",3);

         for( i = 0;i <12;i++){
         single_filter_graph(ctx,axes,i,"rgb(128,128,255)",1);
         }
         full_filter_graph(ctx,axes,"rgb(255,0,0)",3);
//          funGraph(ctx,axes,eq_response_legacy,"rgb(200,0,0)",4);
        }
        
        function funGraph (ctx,axes,func,color,thick) {
         var xx, yy, dx=4, x0=axes.x0, y0=axes.y0, scale=axes.scale;
         var iMax = Math.round((ctx.canvas.width-x0)/dx);
         var iMin = axes.doNegativeX ? Math.round(-x0/dx) : 0;
         ctx.beginPath();
         ctx.lineWidth = thick;
         ctx.strokeStyle = color;
        
         for (var i=iMin;i<=iMax;i++) {
          xx = dx*i; yy = scale*func(xx/scale);
          if (i==iMin) ctx.moveTo(x0+xx,y0-yy);
          else         ctx.lineTo(x0+xx,y0-yy);
         }
         ctx.stroke();
        }
        
        function single_filter_graph (ctx,axes,i,color,thick) {
//          console.log("filter Graph was called for ch " + i)
         var xx, yy, dx=4, x0=axes.x0, y0=axes.y0, scale=axes.scale;
         var iMax = Math.round((ctx.canvas.width-x0)/dx);
         var iMin = axes.doNegativeX ? Math.round(-x0/dx) : 0;
         ctx.beginPath();
         ctx.lineWidth = thick;
         ctx.strokeStyle = color;
         
         calc_single_filter(i);
//          console.log(filter_mem[i]);
         var c = 0;
         for (x=0; x <= 1; x+=mem_step_size){
           xx = x*(ctx.canvas.width-x0);
           yy = scale*filter_mem[i]["y"][c]*y_scaling;
           if (xx==0)   ctx.moveTo(x0+xx,y0-yy);
           else         ctx.lineTo(x0+xx,y0-yy);
           c++;
         }
         ctx.stroke();
        }
        
        function full_filter_graph (ctx,axes,color,thick) {
//          console.log("filter Graph was called for ch " + i)
         var xx, yy, dx=4, x0=axes.x0, y0=axes.y0, scale=axes.scale;
         var iMax = Math.round((ctx.canvas.width-x0)/dx);
         var iMin = axes.doNegativeX ? Math.round(-x0/dx) : 0;
         ctx.beginPath();
         ctx.lineWidth = thick;
         ctx.strokeStyle = color;
         
         for (i = 0 ;i<12;i++){
           calc_single_filter(i);
         }
//          console.log(filter_mem[i]);
         var sum_filter_mem=0;
 
         var c = 0;
         for (x=0; x <= 1; x+=mem_step_size){
           xx = x*(ctx.canvas.width-x0);
           sum_filter_mem = 0;
           for (i = 0; i<12;i++){
             sum_filter_mem += filter_mem[i]["y"][c];
           }
           yy = scale*sum_filter_mem*y_scaling;
           if (xx==0)   ctx.moveTo(x0+xx,y0-yy);
           else         ctx.lineTo(x0+xx,y0-yy);
           c++;
         }
         ctx.stroke();
        }
        
        
        function showAxes(ctx,axes) {
         var x0=axes.x0, w=ctx.canvas.width;
         var x1=axes.x1, w=ctx.canvas.width;
         var y0=axes.y0, h=ctx.canvas.height;
         var xmin = axes.doNegativeX ? 0 : x0;
         ctx.beginPath();
         ctx.strokeStyle = "rgb(128,128,128)"; 
         ctx.moveTo(xmin,y0); ctx.lineTo(w,y0);  // X axis
         ctx.moveTo(x0,0);    ctx.lineTo(x0,h);  // Y axis
         ctx.moveTo(x1,0);    ctx.lineTo(x1,h);  // Y axis
         ctx.stroke();
        }
  
  
  
  function full_filter_response_legacy(x){
  
    var eval_string = "";
    
    for ( i = 0 ; i< 12 ; i++){
        var twopowN = Math.pow(2,slider_properties[i]["bandwidth"]); // bandwidth in octaves
        var Q_of_N = Math.sqrt(twopowN)/(twopowN-1);
        var g     = Math.pow(10,slider_properties[i]["gain"]/10);
        var omega = x / slider_properties[i]["freq"]; // frequency normalized by filter frequency
        var B     = 1/Q_of_N   *Math.pow(g,-0.5);
        var omega_sqr = omega*omega;
        eval_string += "((-1*"+omega_sqr+"+"+g*B*omega+"*i +1 )/(-1*"+omega_sqr+"+"+B*omega+"*i + 1))*";
        
    }
    eval_string += "1";
    return 10*Math.log10( math.evaluate("abs("+eval_string+")"));
  }
  
//   function single_filter_response_complex(f,gain,freq,bandwidth){
//     var eval_string = "";
//         var twopowN = Math.pow(2,bandwidth); // bandwidth in octaves
//         var Q_of_N = Math.sqrt(twopowN)/(twopowN-1);
//         var g     = Math.pow(10,gain/20);
//         var omega = f / freq; // frequency normalized by filter frequency
//         var B     = 1/Q_of_N   *Math.pow(g,-0.5);
//         var omega_sqr = omega*omega;
//         eval_string += "((-1*"+omega_sqr+"+"+g*B*omega+"*i +1 )/(-1*"+omega_sqr+"+"+B*omega+"*i + 1))";
//     return 20*Math.log10( math.evaluate("abs("+eval_string+")"));
//   }
  
  function single_filter_response(f,gain,freq,bandwidth){
        var twopowN = Math.pow(2,bandwidth); // bandwidth in octaves
        var Q_of_N = Math.sqrt(twopowN)/(twopowN-1);
        var g     = Math.pow(10,gain/20);
        var omega = f / freq; // frequency normalized by filter frequency
        var B     = 1/Q_of_N   *Math.pow(g,-0.5);
        var omega_sqr = omega*omega;
        var real_sqr = (-omega_sqr+1) * (-omega_sqr+1);
        var imag_sqr = B*B*omega_sqr;
        var amplification =    Math.sqrt( (real_sqr + g*g*imag_sqr ) / (real_sqr + imag_sqr ));
    return 20*Math.log10( amplification );
  }
  function full_filter_response(x){
    y = 0; 
    for ( i = 0 ; i< 12 ; i++){
       y += single_filter_response(x,
         slider_properties[i]["gain"], 
         slider_properties[i]["freq"], 
         slider_properties[i]["bandwidth"]
         );
    }
    return y;
  }
  
  
  var mem_step_size = 0.005;
  var filter_mem = {};
  
  function calc_single_filter(i){
  
     var gain       = slider_properties[i]["gain"];
     var freq       = slider_properties[i]["freq"];
     var bandwidth  = slider_properties[i]["bandwidth"];
     
     if (i in filter_mem){ // entry exists
       if ( gain == filter_mem[i]["gain"]){
         if ( freq == filter_mem[i]["freq"]){
           if ( bandwidth == filter_mem[i]["bandwidth"]){
//              console.log("calc_single_filter here ... nothing changed for ch "+i);
             return; // nothing changed
           }
         }
       }
     }
     // if it has changed
//      console.log("calc_single_filter here ... sth changed for ch "+i);
     
     filter_mem[i] = {}
     
     filter_mem[i]["gain"] = gain;
     filter_mem[i]["freq"] = freq;
     filter_mem[i]["bandwidth"] = bandwidth;
     filter_mem[i]["y"] = []
     for (x=0; x <= 1; x+=mem_step_size){
       var response = single_filter_response(f_of_x(x),gain,freq,bandwidth)
       filter_mem[i]["y"].push(response);
     }
  }
  
  
  var slider_properties = {};
  
        
  var midi_blocked  = false; 
  var graph_blocked = false; 
  var last_touched_channel = 0;
  
  function update_backend(filter_chan){
    
    var gain       = slider_properties[filter_chan]["gain"];
    var freq       = slider_properties[filter_chan]["freq"];
    var bandwidth  = slider_properties[filter_chan]["bandwidth"];
    
    $( "#amount" ).html( "ch "+filter_chan + " :: gain " + gain + " dB :: freq " + Math.round(freq) + " Hz :: bandwidth " + Math.round(60*bandwidth)+"/60 oct");
    last_touched_channel = filter_chan;
    
    if ( midi_blocked == false){
        midi_blocked = true;
        setTimeout(function(){
          midi_blocked = false; 
          ajax_to_backend(last_touched_channel);
        }, midi_update_delay);
    }
    if ( graph_blocked == false){
        graph_blocked = true;
        setTimeout(function(){
          graph_blocked = false; 
          draw();
        }, graph_update_delay);
    }
    
  
  }
  
  function ajax_to_backend(filter_chan){
    var gain       = slider_properties[filter_chan]["gain"];
    var freq       = slider_properties[filter_chan]["freq"];
    var bandwidth  = slider_properties[filter_chan]["bandwidth"];
        $.ajax({
            url : '/set_eq?filter_chan=' + filter_chan + '&bandwidth=' + bandwidth +'&freq=' + freq + '&gain=' + gain,
            success: function(data) {
            } });
  }
  
  
  var update_all_counter = 12;
  
  function update_all_callback(){
  
    var filter_chan = update_all_counter;
    var gain        = slider_properties[filter_chan]["gain"];
    var freq        = slider_properties[filter_chan]["freq"];
    var bandwidth   = slider_properties[filter_chan]["bandwidth"];
    
    draw();
    
        $.ajax({
            url : '/set_eq?filter_chan=' + filter_chan + '&bandwidth=' + bandwidth +'&freq=' + freq + '&gain=' + gain,
            success: function(data) {
            } });
            
    update_all_counter += 1;
    if (update_all_counter < 12){
            
    setTimeout(function(){
      update_all_callback();
      }, midi_update_delay);
    }
    
  }
  
  
  function update_backend_all(){
  
  
    update_all_counter = 0;
    update_all_callback();
        
  
  }
  
  
  
  $( function() {
    // setup graphic EQ
    $( "#gain > span" ).each(function() {
      // read initial values from markup and remove that
      var val_list    = $(this).text().split("-");
      
      var filter_chan = parseInt  ( val_list[0], 10 );
      var freq        = parseFloat  ( val_list[1], 10 );
      var bandwidth   = parseFloat( val_list[2]);
      var gain       = parseInt  ( val_list[3], 10 );
      
      slider_properties[filter_chan] = {}
      
      slider_properties[filter_chan]["freq"]       = freq;
      slider_properties[filter_chan]["default_freq"]       = freq;
      slider_properties[filter_chan]["bandwidth"]  = bandwidth;
      slider_properties[filter_chan]["default_bandwidth"]  = bandwidth;
      slider_properties[filter_chan]["gain"]       = gain;
      slider_properties[filter_chan]["default_gain"]       = gain;
      
      $("#freq").append("<span>"+filter_chan+"</span>");
      $("#bandwidth").append("<span>"+filter_chan+"</span>");
      
      $( this ).empty().slider({
        
        value: gain,
        range: "min",
        min:-48,
        max:16,
        animate: true,
        orientation: "vertical",
        slide: function( event, ui ) {
        
        
            var filter_chan = $(this).index();
            slider_properties[filter_chan]["gain"] = ui.value;
            update_backend(filter_chan);
           
        }
      });
    });
    
    $( "#freq > span" ).each(function() {
    
      var filter_chan = $(this).index();
      $( this ).empty().slider({
        
        value: x_of_f(slider_properties[filter_chan]["freq"])*freq_slider_steps,
        range: "min",
        min:0,
        max:freq_slider_steps,
        animate: true,
        orientation: "vertical",
        slide: function( event, ui ) {
        
        
            var filter_chan = $(this).index();
            slider_properties[filter_chan]["freq"] = f_of_x(ui.value/freq_slider_steps);
            update_backend(filter_chan);
           
        }
      });
       
    });
    
    $( "#bandwidth > span" ).each(function() {
    
      var filter_chan = $(this).index();
      $( this ).empty().slider({
        
        value: parseInt(60*slider_properties[filter_chan]["bandwidth"]),
        range: "min",
        min:1,
        max:120,
        animate: true,
        orientation: "vertical",
        slide: function( event, ui ) {
        
        
            var filter_chan = $(this).index();
            slider_properties[filter_chan]["bandwidth"] = ui.value/60;
            update_backend(filter_chan);
           
        }
      });
       
    });
    
    $( "#reset" ).click(function(){
      for (i = 0; i<12 ; i++){
        slider_properties[i]["gain"]      = slider_properties[i]["default_gain"];
        slider_properties[i]["freq"]      = slider_properties[i]["default_freq"];
        slider_properties[i]["bandwidth"] = slider_properties[i]["default_bandwidth"];
        
        $("#gain > span").eq(i).slider("value",slider_properties[i]["default_gain"]);
        $("#freq > span").eq(i).slider("value",
             (Math.log(slider_properties[i]["freq"]) - Math.log(20))/(Math.log(20000)-Math.log(20))*freq_slider_steps
        );
        $("#bandwidth > span").eq(i).slider("value",slider_properties[i]["default_bandwidth"]*60);
        $("#amount").html("&nbsp;");
        
//         $("#freq:nth-child("+i+")").val(slider_properties[i]["default_freq"]);
//         $("#freq:nth-child("+i+")").slider("refresh")
//         $("#gain:nth-child("+i+")").val(slider_properties[i]["default_gain"]);
//         $("#gain:nth-child("+i+")").slider("refresh")
//         $("#bandwidth:nth-child("+i+")").value = slider_properties[i]["default_bandwidth"];

      }
        update_backend_all();
    });
    
  } );
  </script>
</head>
<body>
 
<!--<p class="ui-state-default ui-corner-all ui-helper-clearfix" style="padding:4px;">
  <span class="ui-icon ui-icon-volume-on" style="float:left; margin:-2px 5px 0 0;"></span>
  Master volume
</p> -->
<!-- <p id="amount">0</p> -->
<!--<div id="master" style="width:260px; margin:15px;"></div> -->
 
<!--<p class="ui-state-default ui-corner-all" style="padding:4px;margin-top:4em;">
  <span class="ui-icon ui-icon-signal" style="float:left; margin:-2px 5px 0 0;"></span>
  Graphic EQ
</p> -->

<body onload="draw()">
<canvas id="canvas" width="530" height="200"></canvas>
 
<p><button id="reset">reset</button><span width=20>&nbsp;</span><span id="amount">&nbsp;</span></p>
<div id="gain">
<!--   channel - freq (Hz) - bandwidth (octaves) - init -->
  <span>0-40.00-2-0</span>
  <span>1-68.96-2-0</span>
  <span>2-118.9-2-0</span>
  <span>3-205.0-2-0</span>
  <span>4-353.4-2-0</span>
  <span>5-609.3-2-0</span>
  <span>6-1050.-2-0</span>
  <span>7-1811.-2-0</span>
  <span>8-3122.-2-0</span>
  <span>9-5384.-2-0</span>
  <span>10-9280-2-0</span>
  <span>11-16000-2-0</span>
<!--  <span>0-40.00-1-0</span>
  <span>1-63.00-1-0</span>
  <span>2-100.0-1-0</span>
  <span>3-160.0-1-0</span>
  <span>4-250.0-1-0</span>
  <span>5-400.0-1-0</span>
  <span>6-630.0-1-0</span>
  <span>7-1000.-1-0</span>
  <span>8-1600.-1-0</span>
  <span>9-2500.-1-0</span>
  <span>10-4000-1-0</span>
  <span>11-6300-1-0</span> -->
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div id="freq">
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div id="bandwidth">
</div>
 
 
</body>
</html>
