<!doctype html>

<!-- example taken from here: https://jqueryui.com/slider/#multiple-vertical -->

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>jQuery UI Slider - Multiple sliders</title>
<!--   <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"> -->
  <link rel="stylesheet" href="/static/jquery-ui.css">
<!--  <script src="https://jqueryui.com/slider/../../external/jquery/jquery.js"></script>
  <script src="https://jqueryui.com/slider/../../ui/core.js"></script>
  <script src="https://jqueryui.com/slider/../../ui/widget.js"></script>
  <script src="https://jqueryui.com/slider/../../ui/mouse.js"></script>
  <script src="https://jqueryui.com/slider/../../ui/slider.js"></script> -->
<!--  <script src="/static/jquery.js"></script>
  <script src="/static/core.js"></script>
  <script src="/static/widget.js"></script>
  <script src="/static/mouse.js"></script>
  <script src="/static/slider.js"></script> -->
<!--   <link rel="stylesheet" href="https://jqueryui.com/resources/demos/style.css"> -->
  <link rel="stylesheet" href="/static/style.css">
  <style>
  #eq > span {
    height:120px; float:left; margin:15px
  }
  </style>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  
  var slider_properties = {};
  
  $( function() {
    // setup master volume
    $( "#master" ).slider({
      value: 0,
      orientation: "horizontal",
      range: "min",
      min:-48,
      max:15,
      animate: true,
      slide: function( event, ui ) {
      
        
        $( "#amount" ).html( ui.value );
        $.ajax({
            url : '/set_eq?a=' + ui.value,
            success: function(data) {
//                 $('#add').html(data['a'] + ' + ' + data['b'] + ' = ' + data['add']);
//                 $('#subtract').html(data['a'] + ' - ' + data['b'] + ' = ' + data['subtract']);
//                 $('#multiply').html(data['a'] + ' * ' + data['b'] + ' = ' + data['multiply']);
//                 $('#divide').html(data['a'] + ' / ' + data['b'] + ' = ' + data['divide']);
            }
        });
      }
    });
    // setup graphic EQ
    $( "#eq > span" ).each(function() {
      // read initial values from markup and remove that
      var val_list    = $(this).text().split("-");
      
      var filter_chan = parseInt  ( val_list[0], 10 );
      var freq        = parseInt  ( val_list[1], 10 );
      var bandwidth   = parseFloat( val_list[2]);
      var gain       = parseInt  ( val_list[3], 10 );
      
      slider_properties[filter_chan] = {}
      
      slider_properties[filter_chan]["freq"]       = freq;
      slider_properties[filter_chan]["bandwidth"]  = bandwidth;
      slider_properties[filter_chan]["gain"]       = gain;
      
      $( this ).empty().slider({
        
        value: gain,
        range: "min",
        min:-15,
        max:15,
        animate: true,
        orientation: "vertical",
        slide: function( event, ui ) {
        
        
            var filter_chan = $(this).index();
            slider_properties[filter_chan]["gain"] = ui.value;
            
            var gain      = ui.value;
            var freq       = slider_properties[filter_chan]["freq"];
            var bandwidth  = slider_properties[filter_chan]["bandwidth"];
            
            $( "#amount" ).html( ui.value );
            $.ajax({
                url : '/set_eq?filter_chan=' + filter_chan + '&bandwidth=' + bandwidth +'&freq=' + freq + '&gain=' + gain,
                success: function(data) {
                }
            });
        }
      });
    });
  } );
  </script>
</head>
<body>
 
<!--<p class="ui-state-default ui-corner-all ui-helper-clearfix" style="padding:4px;">
  <span class="ui-icon ui-icon-volume-on" style="float:left; margin:-2px 5px 0 0;"></span>
  Master volume
</p> -->
<!-- <p id="amount">0</p> -->
<!--<div id="master" style="width:260px; margin:15px;"></div> -->
 
<p class="ui-state-default ui-corner-all" style="padding:4px;margin-top:4em;">
  <span class="ui-icon ui-icon-signal" style="float:left; margin:-2px 5px 0 0;"></span>
  Graphic EQ
</p>
 
<span>gain: </span><span id="amount">0</span>
<div id="eq">
<!--   channel - freq (Hz) - bandwidth (octaves) - init -->
  <span>0-40-0.66-0</span>
  <span>1-63-0.66-0</span>
  <span>2-100-0.66-0</span>
  <span>3-160-0.66-0</span>
  <span>4-250-0.66-0</span>
  <span>5-400-0.66-0</span>
  <span>6-630-0.66-0</span>
  <span>7-1000-0.66-0</span>
  <span>8-1600-0.66-0</span>
  <span>9-2500-0.66-0</span>
  <span>10-4000-0.66-0</span>
  <span>11-6300-0.66-0</span>
</div>
 
 
</body>
</html>
